Group BY

In [1]:
import pandas as pd

data = [
    ["A", "S1", 1200.50, 10, "2025-05-01"],
    ["B", "S2", 1100.75, 8,  "2025-05-02"],
    ["C", "S3", 950.00,  12, "2025-05-03"],
    ["A", "S3", 1430.25, 7,  "2025-05-04"],
    ["B", "S1", 1250.00, 9,  "2025-05-05"],
    ["C", "S2", 1600.00, 8,  "2025-05-06"],
    ["A", "S2", 1100.50, 15, "2025-05-07"],
    ["B", "S3", 1340.75, 6,  "2025-05-08"],
    ["C", "S1", 950.25,  10, "2025-05-09"],
    ["A", "S1", 1230.00, 13, "2025-05-10"],
    ["B", "S2", 1450.00, 11, "2025-05-11"],
    ["C", "S3", 1075.50, 14, "2025-05-12"],
    ["A", "S3", 990.25,  7,  "2025-05-13"],
    ["B", "S1", 1150.00, 5,  "2025-05-14"],
    ["C", "S2", 1300.75, 9,  "2025-05-15"],
]

df = pd.DataFrame(data, columns=["Category", "Store", "Sales", "Quantity", "Date"])

df

   Category Store    Sales  Quantity        Date
0         A    S1  1200.50        10  2025-05-01
1         B    S2  1100.75         8  2025-05-02
2         C    S3   950.00        12  2025-05-03
3         A    S3  1430.25         7  2025-05-04
4         B    S1  1250.00         9  2025-05-05
5         C    S2  1600.00         8  2025-05-06
6         A    S2  1100.50        15  2025-05-07
7         B    S3  1340.75         6  2025-05-08
8         C    S1   950.25        10  2025-05-09
9         A    S1  1230.00        13  2025-05-10
10        B    S2  1450.00        11  2025-05-11
11        C    S3  1075.50        14  2025-05-12
12        A    S3   990.25         7  2025-05-13
13        B    S1  1150.00         5  2025-05-14
14        C    S2  1300.75         9  2025-05-15

In [9]:
cat = df.groupby("Category")["Sales"].sum()
cat

Category
A    5951.5
B    6291.5
C    5876.5
Name: Sales, dtype: float64

In [11]:
df.groupby("Store")["Sales"].sum()

Store
S1    5780.75
S2    6552.00
S3    5786.75
Name: Sales, dtype: float64

In [13]:
df.groupby(["Store","Category"])["Sales"].sum()

Store  Category
S1     A           2430.50
       B           2400.00
       C            950.25
S2     A           1100.50
       B           2550.75
       C           2900.75
S3     A           2420.50
       B           1340.75
       C           2025.50
Name: Sales, dtype: float64

Aggregation

In [14]:
df['Sales'].mean()

np.float64(1207.9666666666667)

In [15]:
df['Sales'].std()

np.float64(191.71139177966248)

In [20]:
df["Sales"].agg(["sum", "mean", "min", "max"])

sum     18119.500000
mean     1207.966667
min       950.000000
max      1600.000000
Name: Sales, dtype: float64

In [22]:
df["Sales"].agg([
    "sum",
    "mean",
    "min",
    "max",
    "count",
    "std",
    "var",
    "median",
])

sum       18119.500000
mean       1207.966667
min         950.000000
max        1600.000000
count        15.000000
std         191.711392
var       36753.257738
median     1200.500000
Name: Sales, dtype: float64